In [2]:
import snowflake.connector
import pandas as pd
try:
    ctx= snowflake.connector.connect(user='CMU',
                                     password="ql2_analytics",
                                     account="zk56677",
                                     database='QL2_PROD',
                                     schema='public',
                                     warehouse='CMU_WAREHOUSE',
                                     role='SYSADMIN' )
    cursor = ctx.cursor()
    cur = cursor.execute(""" select * from CMU_AIRFARE LIMIT 1000""")

    df = cur.fetch_pandas_all()
    
except Exception as e:
    print("failed connecting to QL2_PROD",e)

/Users/shirley/opt/anaconda3/lib/python3.7/site-packages/cryptography/hazmat/backends/openssl/x509.py:17: CryptographyDeprecationWarning: This version of cryptography contains a temporary pyOpenSSL fallback path. Upgrade pyOpenSSL now.
  utils.DeprecatedIn35,

In [3]:
df

,COLLECT_DATE,QL2_QTS,FROM_AIRPORT,TO_AIRPORT,SITE,CXR,DDATE,DSTP,CURRENCY,DFLIGHT,DTIME,DROUTE,FARE
0,2020-12-24 05:44:00,6932,JFK,SAN,DL,DL,2020-12-29,0,USD,428,07:30,07:30 - JFK :: 10:47 - SAN,308.10
1,2021-01-08 01:20:00,6947,SEA,HNL,HA,HA,2021-01-08,0,USD,21,11:30,11:30 - SEA :: 15:45 - HNL,322.00
2,2020-09-24 22:15:00,6841,FLL,ORD,NK,NK,2020-10-01,0,USD,1,20:20,20:20 - FLL :: 22:34 - ORD,86.09
3,2021-03-28 05:49:00,7026,SDQ,FLL,NK,NK,2021-04-21,0,USD,142,13:42,13:42 - SDQ :: 16:04 - FLL,109.35
4,2021-03-28 05:49:00,7026,SDQ,FLL,NK,NK,2021-04-21,0,USD,142,13:42,13:42 - SDQ :: 16:04 - FLL,109.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2018-01-01 00:26:00,5844,FLL,JFK,B6,B6,2018-01-04,0,USD,2,08:30,08:30 - FLL :: 11:18 - JFK,291.20
996,2018-01-01 00:26:00,5844,FLL,JFK,B6,B6,2018-01-04,0,USD,502,10:07,10:07 - FLL :: 12:55 - JFK,291.20
997,2018-01-01 01:17:00,5844,EWR,LAX,UA,UA,2018-01-04,0,USD,1148,10:00,10:00 - EWR :: 13:12 - LAX,403.20
998,2018-01-01 00:25:00,5844,JFK,FLL,B6,B6,2018-01-04,0,USD,1401,16:20,16:20 - JFK :: 19:42 - FLL,204.20
999,2018-01-01 00:25:00,5844,JFK,FLL,B6,B6,2018-01-01,0,USD,601,05:45,05:45 - JFK :: 08:52 - FLL,149.20

In [7]:
df.isnull().sum()

COLLECT_DATE    0
QL2_QTS         0
FROM_AIRPORT    0
TO_AIRPORT      0
SITE            0
CXR             0
DDATE           0
DSTP            0
CURRENCY        0
DFLIGHT         0
DTIME           0
DROUTE          0
FARE            0
dtype: int64

In [ ]:
import matplotlib.pyplot as plt